.contact-section {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.contact-section.phones {

}

.contact-section.phone {
  text-decoration: none;
  color: black;
  font-size: 26px;
  font-weight: 100;
}

.contact-section.address {
  margin-top: 25px;
  font-weight: 100;
}

.yandex {
  padding: 50px 0;
  width: 100%;
  max-width: 1060px;
  height: 385px;
}
