* {
  z-index: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: TildaSans, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

button,
input {
  border: none;
  background: none;
}

header {
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: rgb(5, 71, 89);
}

.smaller_padding_section {
  padding: 0px 0 0 !important;
}

.section {
  padding: 105px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  font-size: medium;
}

.success-section {
  padding: 13vw;
}

@media (max-width: 1300px) {
  .success-section {
    padding: 36vh;
  }
}

.section-quotes {
  padding: 45px 0 40px;
}

.section-title {
  line-height: 1.23;
  font-family: 'TildaSans', Arial, sans-serif;
  font-weight: 500;
  color: #000000;
  margin: 0 0 40px;
  font-size: 38px;
  text-align: center;
}

.gray-background {
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

#scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff822e;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  outline: none;
}

@media (max-width: 900px) {
  #scrollToTopButton {
    bottom: 60px;
  }

}

#scrollToTopButton:hover {
  background-color: #de742c;
}

.my-title-style {
  font-family: TildaSans, Arial, sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: darkgreen;
}

.my-content-style {
  font-family: TildaSans, Arial, sans-serif;
  font-size: 18px;
  font-weight: 100;
  color: black;
}